<h1 class="text-center mb-3">Please Enter Admin Passcode!</h1>
<form method="POST" action="" >
  <label for="username">Username</label>
  <input name="username" type="text" class="form-control" />
  <label for="password">Passcode</label>
  <input name="password" type="password" class="form-control" />
  <div class="d-flex justify-content-center mt-3">
    <button class="btn-primary btn-block">Log In</button>
  </div>
  </form>
  <div class="d-flex justify-content-center mt-3">
    <a href="/">Home</a>
  </div>
