<h1 class="text-center mb-3 text-light">{{title}}</h1>
<p class="text-center mb-3 text-light">There are currently {{this.data.user_count}} users.</p>
<p class="text-center mb-3 text-light">There are currently {{this.data.message_count}} messages.</p>
<div class="d-flex justify-content-center">
    <ul>
        <li class="mb-2"><a href="/members">Home</a></li>
        <li class="mb-2"><a href="/members/sign-up">Sign Up!</a></li>
        <li class="mb-2"><a href="/members/login">Log In!</a></li>
        <li class="mb-2"><a href="/members/admin-login">Log In as Admin!</a></li>
        <li><a href="/members/message-view">See Messages!</a></li>
    </ul>
</div>


