<h1 class="text-center mb-3">Hello there!</h1>
{{#if user}}
    <h1 class="text-center mb-3">Welcome back {{this.user.username}}!</h1>
    <div class="d-flex justify-content-center mt-3">
      <a href="/members/logout">Log Out</a>
    </div>
    
  {{else}}
<h1 class="text-center mb-3">Please Log In!</h1>
<form method="POST" action="" >
  <label for="username" class="text-light">Username</label>
  <input name="username" type="text" class="form-control bg-dark border-primary" />
  <label for="password" class="text-light">Password</label>
  <input name="password" type="password" class="form-control bg-dark border-primary" />
  <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-outline-primary">Log In</button>
  </div>
</form>
{{/if}}
<div class="d-flex justify-content-center mt-3">
  <a href="/">Home</a>
</div>

