<h1>Hello there!</h1>
{{#if user}}
    <h1>WELCOME BACK {{this.user.username}}</h1>
    <a href="/members/logout">Log Out</a>
  {{else}}
<h1>Please Log In!</h1>
<form method="POST" action="" >
  <label for="username">Username</label>
  <input name="username" placeholder="username" type="text" />
  <label for="password">Password</label>
  <input name="password" type="password" />
  <button>Log In</button>
</form>
{{/if}}
<a href="/">Home</a>