<h1>Members Log In!</h1>
<h4>To see message authors, you must enter the secret code!</h4>
<form method="POST" action="" >
  <label for="secretcode">Secret Code</label>
  <input name="secretcode" placeholder="hint: spaceballs city code" type="text" />
  <button>Verify</button>
</form>
<a href="/">Home</a>