<h1>{{title}}</h1>
<form method="POST" action="" >
  <label for="title">Title: </label>
  <input name="title" type="text" />
  <label for="message">Message: </label>
  <textarea name="message" placeholder="Message..."  /></textarea>
  <button>Send</button>
</form>
<a href="/">Home</a>