<h1 class="text-center mb-3 text-light">{{title}}</h1>
<form method="POST" action="" >
  <label for="title" class="text-light">Title: </label>
  <input name="title" type="text" class="form-control bg-dark border-primary" />
  <label for="message" class="text-light">Message: </label>
  <textarea name="message" class="form-control bg-dark border-primary" /></textarea>
  <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-outline-primary">Send</button>
  </div>
</form>
<div class="d-flex justify-content-center mt-3">
  <a href="/">Home</a>
</div>
